<%= render 'layouts/header' %>
<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h1>Patrieとは</h1>
        <p>Patrieは地方・地元の良さを伝えるSNSです。
        みなさんの知っている地方・地元の魅力を共有しましょう！<br>

        </p>
    </div>
  </div>
</div>