<div class="container">
    <div class="row">
        <%= image_tag('patrie.icon.png') %>
    </div>

    <div>
        <%= link_to 'ログイン',new_user_session_path,class:"btn btn-info" %>

        <%= link_to '新規登録',new_user_registration_path,class:"btn btn-info" %>
    </div>
</div>
