<%= render "layouts/header" %>
<h1>タイムライン</h1>
<div class="container">
  <div class="row">
    <div clas="col-md-10">

          <p><%#= link_to "#{@post.comments.count} コメント", post_path(@post.id) %></p>
        <% @feeds.each do |posts| %>
        <div>
          <div>
            <%= link_to posts.user.user_name,[posts.user] %>
          </div>
          <div>
            <%= image_tag posts.get_image,size:"500x400" %>
          </div>
          <div>
            <%= posts.text %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>