<header>
  <nav class = "navbar navbar-expand-lg navbar-light  text-white bg-info">

    <div class="container">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
        <li class="nav-item">
         <%= link_to destroy_admin_session_path,method: :delete,class:"nav-link text-light btn" do %>
       <i class="fas fa-sign-out-alt"></i>
         <% end%>
        <li class="nav-item">
          <%= link_to admin_users_path,class:"nav-link text-light btn" do %>
          <i class="fa-solid fa-users"></i>
          <% end %>
        </li>
      </ul>
    </div>
</header>